<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madou.geojbackendquestionservice.mapper.GameMapper">

    <resultMap id="BaseResultMap" type="com.madou.geojmodel.entity.Game">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createUserId" column="createUserId" jdbcType="BIGINT"/>
            <result property="gameTitle" column="gameTitle" jdbcType="VARCHAR"/>
            <result property="gameProfile" column="gameProfile" jdbcType="VARCHAR"/>
            <result property="gameTotalNum" column="gameTotalNum" jdbcType="INTEGER"/>
            <result property="gameType" column="gameType" jdbcType="VARCHAR"/>
            <result property="publicType" column="publicType" jdbcType="VARCHAR"/>
            <result property="startTime" column="startTime" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,createUserId,gameTitle,
        gameProfile,gameTotalNum,gameType,
        publicType,startTime,endTime,
        createTime,updateTime,isDelete
    </sql>
</mapper>
